.card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}
.card:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
}
.card-small-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2) !important;
}
.card-active-border {
    border: 1px solid var(--active-color);
}
.card-secondary-border {
    border: 1px solid var(--secondary-color);
}

.card-primary {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.card-login {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    margin: 0;
    height: 100vh;
}
.card-login-logo {
    flex-grow: 1;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.card-login-title {
    text-align: center;
    padding-bottom: 1.5rem;
}
.card-login-form {
    flex-grow: 4;
    background-color: var(--primary-color);
    color: var(--text-color);
}
.card-login-logo, .card-login-form {
    padding: 2rem 5rem 5rem 5rem;
}

.card-animation {
    animation: 0.5s ease-in-out 0s 1 fadeIn;
    transition: 0.3s;
}

/* Tablet */
@media screen and (max-width: 1024px) {
    .card-login {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;
        height: initial;
    }
    .card-login-logo {
        flex-grow: 1;
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
    .card-login-form {
        flex-grow: 3;
        background-color: var(--primary-color);
        color: var(--text-color);
    }
    .card-login-logo {
        padding: 2rem 1rem;
    }
    .card-login-form {
        padding: 2rem 1rem;
    }
    .card-login-form * .form-row {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .card-login {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
    }
    .card-login-logo {
        flex-grow: 1;
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
    .card-login-form {
        flex-grow: 2;
        background-color: var(--primary-color);
        color: var(--text-color);
    }
    .card-login-logo {
        padding: 3rem 1rem;
    }
    .card-login-form {
        padding: 3rem 1rem;
    }
    .card-login-form * .form-row {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}